<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.carshare.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>com.carshare.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>com.carshare.controller.RegistrationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>selfRideServlet</servlet-name>
		<servlet-class>com.carshare.controller.SelfRideController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selfRideServlet</servlet-name>
		<url-pattern>/selfride</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>availableRides</servlet-name>
		<servlet-class>com.carshare.controller.AvailableRidesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>availableRides</servlet-name>
		<url-pattern>/availableRides</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewActivity</servlet-name>
		<servlet-class>com.carshare.controller.ViewActivityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewActivity</servlet-name>
		<url-pattern>/viewActivity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>requestRide</servlet-name>
		<servlet-class>com.carshare.controller.RequestRideController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestRide</servlet-name>
		<url-pattern>/requestRide</url-pattern>
	</servlet-mapping>
</web-app>
